[submodule "dep/tl"]
	path = dep/tl
	url = https://github.com/twixuss/tl
[submodule "dep/coro"]
	path = dep/coro
	url = https://github.com/twixuss/coro
[submodule "dep/fadec"]
	path = dep/fadec
	url = https://github.com/aengelke/fadec
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
